<div class="navbar-top" [ngClass]="helixConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/helix.svg">
        <span class="logo-text secondary-text">HELIX</span>
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded"
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened"
                (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="helixConfig.layout.navbar.primaryBackground"
     helixPerfectScrollbar [helixPerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column" [ngClass]="helixConfig.layout.navbar.secondaryBackground">

        <div class="h3 username">Scott Ferguson</div>
        <div class="h5 email hint-text mt-8">scott@kentroncloud.com</div>
        <div class="avatar-container" [ngClass]="helixConfig.layout.navbar.primaryBackground">
            <img class="avatar" src="assets/images/avatars/profile.jpg">
        </div>

    </div>

    <div class="navbar-content">
        <helix-navigation class="material2" layout="vertical"></helix-navigation>
    </div>

</div>
