:host {

    .content {

        form {
            width: 100%;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .postal-code {
            min-width: 100px;
            max-width: 300px;
        }

        .service-provider {
            min-width: 500px;
            max-width: 1000px;
        }
    }
}