@import "src/@helix/scss/helix";

:host {

    .center {
        overflow: hidden;

        .header {
            position: relative;
            height: 160px;
            min-height: 160px;
            max-height: 160px;
        }

        .content {
            flex: 1 1 auto;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    }

    .content {

        form {
            width: 100%;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .products {
            width: 100%;
            max-width: 1040px;
            margin: 0 auto;

            .no-products {
                font-size: 24px;
                margin: 24px 0;
                text-align: center;
            }

            .product {
                padding: 16px;

                &:hover {

                    .product-content {
                        border: none;
                        @include mat-elevation(12);
                    }
                }

                .product-content {
                    min-height: 240px;
                    border-radius: 4px;
                    overflow: hidden;
                    transition: box-shadow 200ms ease-in-out;
                    @include mat-elevation(1);

                    .header {
                        padding: 16px 24px;
                        height: 64px !important;
                        min-height: 64px !important;
                        max-height: 64px !important;
                        color: rgba(0,0,0,.54);
                        font-size: 15px;

                        &.web-bg {
                            background: mat-color($mat-blue, 500);
                        }

                        &.android-bg {
                            background: mat-color($mat-green, 500);
                        }

                        &.firebase-bg {
                            background: mat-color($mat-amber, 800);
                        }

                        &.cloud-bg {
                            background: mat-color($mat-blue-grey, 500);
                        }

                        .subheader {
                            font-size: 13px !important;
                        }

                        .category {
                            text-transform: capitalize;
                            text-align: left;
                            font-weight: 600;
                        }

                        .length {

                            .length-icon {
                                margin-right: 8px;
                            }

                            .min {
                                font-size: 16px;
                            }
                        }
                    }

                    .content {
                        padding: 24px;

                        .h1 {
                            font-size: 16px;
                            text-align: center;
                        }

                        .updated {
                            font-size: 13px;
                            font-weight: 600;
                            margin-top: 4px;
                            color: rgba(0,0,0,.38);
                            text-align: center;
                        }
                    }

                    .footer {
                        padding: 16px;
                        height: 48px !important;
                        min-height: 48px !important;
                        max-height: 48px !important;
                        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
                    }
                }
            }
        }

        .terms-of-service {
            min-height: 300px;
        }

        // .header {
        //     display: flex;
        //     flex: 1;
        //     position: relative;
        //     background: url('/src/assets/images/patterns/rain-grey.png') repeat !important;
        // }
    }
}