:host {

    .center {
        overflow: hidden;

        .header {
            position: relative;
            height: 160px;
            min-height: 160px;
            max-height: 160px;
        }

        .content {
            flex: 1 1 auto;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    }

    .content {

        form {
            width: 100%;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .terms-of-service {
            min-height: 300px;
        }
    }
}